numpy
pandas
matplotlib
seaborn
scipy
statsmodels
jupyterlab
sympy
pylatex
rigidbodysimulator
dill
rolldecay-estimators
pytest
xarray
nbconvert
antlr4-python3-runtime
jupyterthemes
cite2c
tensorflow
pre-commit